<div class="row">

    <div class="col-md-12 col-md-offset-2">
        <h1>Ajout Fournisseur</h1>
        <form  (ngSubmit)="saveFournisseur()">

           <!--  <div class="form-group">
                <label>Code</label>
                <input type="text" class="form-control" [(ngModel)]="fournisseur.code" name="code"
                    id="code">
            </div> -->
       

            <div class="form-group">
                <label>Prenom</label>
                <input type="text" class="form-control" [(ngModel)]="fournisseur.prenom" name="prenom"
                    id="prenom">
            </div>

            <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" [(ngModel)]="fournisseur.nom" name="nom"
                    id="nom">
            </div>

            <div class="form-group">
                <label>Adresse</label>
                <input type="text" class="form-control" [(ngModel)]="fournisseur.adresse" name="adresse"
                    id="adresse">
            </div>

            <div class="form-group">
                <label>Telephone</label>
                <input type="text" class="form-control" [(ngModel)]="fournisseur.tel" name="tel"
                    id="tel">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" [(ngModel)]="fournisseur.email" name="email"
                    id="email">
            </div>


            <button class="btn btn-primary">Save</button>

        </form>

    </div>
</div>