<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <li class="nav-item">
            <a href="add-produit"  class="btn btn-primary align-right" routerLinkActive="active"> Nouveau Produit</a>
        </li>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des  Produits</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Code</th>
                            <th>Libelle</th>
                            <th>Categorie</th>
                            <th>Prix unitaire</th>
                            <th>Action</th>
                        
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Code</th>
                            <th>Libelle</th>
                            <th>Categorie</th>
                            <th>Prix unitaire</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let prod of produits">
                            <td>{{prod.id}}</td>
                            <td>{{prod.code}}</td>
                            <td>{{prod.libelle}}</td>
                            <td>{{prod.categorie.libelle}}</td>
                            <td>{{prod.prixUnitaire}}</td>
                         
                            <td >
                                <button class="btn btn-primary"  (click)="updateProduit(prod.id)">edit</button>
                                <button class="btn btn-danger" (click)="deleteProduit(prod.id)">delete</button>
                                
                            </td> 
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

