<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <li  *ngIf="showAdminBoard"  class="nav-item">
            <a href="add-produit" class="btn btn-primary align-right" routerLinkActive="active"> Nouveau Produit</a>
        </li>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des Produits</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table  *ngIf="showAdminBoard"  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Code</th>
                            <th>Libelle</th>
                            <th>Categorie</th>
                            <th>Prix unitaire</th>
                            <th>Image</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Code</th>
                            <th>Libelle</th>
                            <th>Categorie</th>
                            <th>Prix unitaire</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let prod of produits">
                            <td>{{prod.id}}</td>
                            <td>{{prod.code}}</td>
                            <td>{{prod.libelle}}</td>
                            <td>{{prod.categorie.libelle}}</td>
                            <td>{{prod.prixUnitaire}}</td>
                            <th>   <img class="img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuu9Wxa-jNW-PMLe837uPgeGrZaU-PhfJKnQ&usqp=CAU" alt=""></th>
                            <td>
                                <button class="btn btn-primary" (click)="updateProduit(prod.id)">edit</button>
                                <button class="btn btn-danger" (click)="deleteProduit(prod.id)">delete</button>

                            </td>
                        </tr>

                    </tbody>
                </table>

                
                        <div class="row">
                            <div *ngFor="let prod of produits" class="col-xl-4 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="w3-card-4">
                                            <img class="img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuu9Wxa-jNW-PMLe837uPgeGrZaU-PhfJKnQ&usqp=CAU" alt="">
                                          </div> 
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                   <strong><h3>{{prod.libelle}}</h3></strong> 
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <h3>{{prod.prixUnitaire}} FCFA</h3>
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <p> {{prod.categorie.libelle}} </p>
                                                </div>
                                                <div class="col-auto text-primary text-center">
                                                    <button class="btn btn-primary" (click)="produitDetails(prod.id)"><i class="fas fa-eye fa-2x text-primary-300"> detail</i></button>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <form>
    
    
                            </form>
                        </div>
                  


            </div>


           
        </div>
    </div>

</div>
<!-- /.container-fluid -->