<div class="row">

    <div class="col-md-12 col-md-offset-2">
        <h1>Ajout Categorie</h1>
        <form (ngSubmit)="saveCategorie()">

            <!-- <div class="form-group">
                <label>Code</label>
                <input type="text" class="form-control" [(ngModel)]="categorie.code" name="code"
                    id="code">
            </div> -->

            <div class="form-group">
                <label>Libelle</label>
                <input type="text" class="form-control" [(ngModel)]="categorie.libelle" name="libelle"
                    id="libelle">
            </div>

            <button class="btn btn-primary">Save</button>

        </form>

    </div>
</div>